<h1>
  Colorize
</h1>

<form action="/colorize/results">
  <div class="form-group">
    <label for="image_url">
      Image URL
    </label>

    <input id="image_url" text="text" name="image_url" class="form-control" placeholder="https://somewebsite.com/image.jpg">

  </div>

  <button class="btn btn-primary">
    Colorize
  </button>
</form>
