<h1>
  Autotag
</h1>

<form action="/text-tag/results">
  <div class="form-group">
    <label for="text">
      Text
    </label>

    <textarea id="text" name="text" class="form-control"></textarea>

  </div>

  <button class="btn btn-primary">
    Generate Tags
  </button>
</form>
